# App
NODE_ENV=development
PORT=3001
APP_NAME=NextCore ERP
 
# MongoDB
# SQL Server
SQL_HOST=localhost
SQL_PORT=1433
SQL_USERNAME=sa
SQL_PASSWORD=yourStrong(!)Password
SQL_DATABASE=nextcore_auth
TYPEORM_SYNCHRONIZE=true

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# JWT
JWT_ACCESS_SECRET=super_secret_access_key_min_32_chars
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=super_secret_refresh_key_min_32_chars
JWT_REFRESH_EXPIRES_IN=7d

# RabbitMQ
RABBITMQ_URI=amqp://localhost:5672
RABBITMQ_AUTH_QUEUE=auth_queue

# Mail
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=noreply@nextcore.app
MAIL_PASS=app_password
MAIL_FROM="NextCore ERP <noreply@nextcore.app>"

# 2FA
TWO_FACTOR_APP_NAME=NextCore ERP
TWO_FACTOR_ENCRYPTION_KEY=32_char_aes_key_for_totp_secrets

# Frontend URL (para links en emails)
FRONTEND_URL=http://localhost:4200

# Throttling
THROTTLE_TTL=60000
THROTTLE_LIMIT=10