# SQL Server
DB_SERVER=localhost
DB_DATABASE=nc_erp
DB_USER=sa
DB_PASSWORD=
DB_PORT=1433

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=8h

# Puertos
PORT_AUTH=3001
PORT_GATEWAY=3000
PORT_AUDIT=3002
PORT_WEBSOCKET=8080
