<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Recuperación de contraseña</title>
</head>
<body>
  <h1>Recuperación de contraseña - NextCore ERP</h1>
  <p>Hola,</p>
  <p>Has solicitado restablecer tu contraseña. Haz clic en el siguiente enlace para continuar:</p>
  <p><a href="{{resetUrl}}">Restablecer contraseña</a></p>
  <p>Si no solicitaste este cambio, ignora este email.</p>
  <p>El enlace expirará en 1 hora.</p>
  <br>
  <p>Saludos,<br>Equipo de NextCore ERP</p>
</body>
</html>