<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Bienvenido a NextCore ERP</title>
</head>
<body>
  <h1>Bienvenido a NextCore ERP</h1>
  <p>Hola {{firstName}},</p>
  <p>Tu cuenta ha sido creada exitosamente en NextCore ERP.</p>
  <p>Puedes iniciar sesión con tu email: {{email}}</p>
  <br>
  <p>Saludos,<br>Equipo de NextCore ERP</p>
</body>
</html>